<footer class="footer" id="footer">
    <p class="footer__mattia">
        <%= content.footer.builtBy %>
    </p>
    <p class="footer__copyright">&copy; <%= content.footer.copyright %></p>
    <div class="footer__navigation">
        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link"><%= content.footer.privacyPolicy %></a></li>
            <li class="footer__item"><a href="#popup"
                    class="footer__link popup-opener"><%= content.footer.newsletter %></a></li>
        </ul>
    </div>
</footer>
<div class="popup d-none" id="popup">
    <div class="popup__content">
        <h2 class="popup__header"><%= content.popup.header %></h2>
        <p class="popup__text"><%= content.popup.text %></p>
        <form action="#" class="popup__form-popup">
            <div class="popup__form-popup__group">
                <label for="name" class="popup__form-popup__label"><%= content.popup.form.name %></label>
                <input type="text" class="popup__form-popup__input" placeholder="<%= content.popup.form.name %>"
                    id="name" required>

            </div>

            <div class="popup__form-popup__group">
                <label for="email" class="popup__form-popup__label"><%= content.popup.form.email %></label>
                <input type="email" class="popup__form-popup__input" placeholder="<%= content.popup.form.email %>"
                    id="email" required>

            </div>
            <button href="#" class="btn btn--primary popup__btn"><%= content.popup.cta %></button>
        </form>
        <button class="popup__close">&times;</button>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollify.js"></script>
<script tyoe="text/javascript" src="/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>