<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connection Line SAGL | <%= content.title %></title>
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/app.css">
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <div class="translations-navbar">
                <div class="translations-navbar__container">
                    <a href="/en"><img class="translations-navbar__image" src="/assets/flags/english.png"></a>
                </div>
                <div class="translations-navbar__container">
                    <a href="/it"><img class=" translations-navbar__image" src="/assets/flags/italian.png"></a>
                </div>
                <div class="translations-navbar__container">
                    <a href="/de"><img class="translations-navbar__image" src="/assets/flags/german.png"></a>
                </div>
                <div class="translations-navbar__container">
                    <a href="/fr"><img class="translations-navbar__image" src="/assets/flags/french.png"></a>
                </div>
            </div>
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#section-hero" class="navigation__link navigation__link--home">
                        <span>01</span><%= content.menu.home %></a>
                </li>
                <li class="navigation__item"><a href="#counters"
                        class="navigation__link navigation__link--counters"><span>02</span><%= content.menu.numeri %></a>
                </li>
                <li class="navigation__item"><a href="#story"
                        class="navigation__link navigation__link--story"><span>03</span><%= content.menu.storia %></a>
                </li>
                <li class="navigation__item"><a href="#settori"
                        class="navigation__link navigation__link--settori"><span>04</span><%= content.menu.servizi %></a>
                </li>
                <li class="navigation__item"><a href="#testimonials"
                        class="navigation__link navigation__link--testimonials"><span>05</span><%= content.menu.clienti %></a>
                </li>
                <li class="navigation__item"><a href="#cta"
                        class="navigation__link navigation__link--cta"><span>06</span><%= content.menu.contatti %></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="translations">
        <div class="translations-navbar__container">
            <a href="/en"><img class="translations-navbar__image" src="/assets/flags/english.png"></a>
        </div>
        <div class="translations-navbar__container">
            <a href="/it"><img class=" translations-navbar__image" src="/assets/flags/italian.png"></a>
        </div>
        <div class="translations-navbar__container">
            <a href="/de"><img class="translations-navbar__image" src="/assets/flags/german.png"></a>
        </div>
        <div class="translations-navbar__container">
            <a href="/fr"><img class="translations-navbar__image" src="/assets/flags/french.png"></a>
        </div>
    </div>