<%- include("partials/header"); -%>
<div class="progressive-sidebar">
    <ul class="progressive-sidebar__ul">
        <div class="progressive-sidebar__container">
            <li
                class="progressive-sidebar__section progressive-sidebar__section-1 progressive-sidebar__section--active">
                <svg class="progressive-sidebar__section-icon ">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-2">
                <svg class=" progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-3"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-4"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-5"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
        <div class="progressive-sidebar__container">
            <li class="progressive-sidebar__section progressive-sidebar__section-6"><svg
                    class="progressive-sidebar__section-icon">
                    <use xlink:href="/assets/icons/symbol-defs.svg#icon-radio-unchecked"></use>
                </svg>
            </li>
        </div>
    </ul>
</div>
<header id="section-hero">
    <div class="bg-video">
        <div class="bg-video__container">
            <video class="bg-video__content" autoplay muted loop>
                <source src="/assets/video/hero-video.mp4" type="video/mp4">
                Your browser is not supported
            </video>
        </div>
        <img class="bg-video__logo" src="/assets/logo.png" alt="">
        <h1 class="bg-video__title">&ldquo;<%= content.header.topHeader %>&rdquo;</h1>
        <button class="btn btn--animated btn--primary bg-video__btn"><%= content.header.cta %></button>
    </div>
</header>
<section id="counters">
    <div class="counter">
        <h2 class="counter__header"><span class="counter__counter-traduttori">100</span>
            <%= content.counters.interpreti[0] %>👩<br><span class="counter__nazioni-text">🌍
                <%= content.counters.interpreti[1] %> <span class="counter__counter-nazioni">80</span>
                <%= content.counters.interpreti[2] %> 🌍</span>
        </h2>
        <h2 class="counter__header">🇨🇭 🇬🇧 <span class="counter__counter-traduttori">500</span>
            <%= content.counters.combinazioni[0] %> 🇮🇹 🇩🇪
        </h2>
        <h2 class="counter__header"><span class="counter__counter-traduttori">400</span>
            <%= content.counters.clientiSoddisfatti[0] %>. 👨‍🏫👩‍🏫
        </h2>
        <h2 class="counter__header"><span class="counter__counter-traduttori counter__counter-parole">1000000</span>
            <%= content.counters.paroleTradotte[0] %>
            ㊙㊗<br><span class="counter__nazioni-text"><%= content.counters.paroleTradotte[1] %> <span
                    class="counter__counter-nazioni counter__counter-lingue">800</span>
                <%= content.counters.paroleTradotte[2] %> 🌍</span>
        </h2>
    </div>
</section>
<section id="story">
    <div class="story">
        <h2 class="story__header"><%= content.story.header %></h2>
        <p class="story__text"><%= content.story.text %></p>
    </div>
</section>
<section id="settori">
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span"><%= content.cards.medicina.header %></span>
            </h4>
            <div class="card__details">
                <p><%= content.cards.medicina.text1 %></p>
                <p><%= content.cards.medicina.text2 %></p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo"><%= content.cards.preventivo %></p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button"><%= content.cards.cta %></a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span"><%= content.cards.legale.header %></span>
            </h4>
            <div class="card__details">
                <p><%= content.cards.legale.text1 %></p>
                <p><%= content.cards.legale.text2 %></p>
            </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo"><%= content.cards.preventivo %></p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button"><%= content.cards.cta %></a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--3">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span"><%= content.cards.finanza.header %></span>
            </h4>
            <div class="card__details">
                <p><%= content.cards.finanza.text1 %></p>
                <p><%= content.cards.finanza.text2 %></p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo"><%= content.cards.preventivo %></p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button"><%= content.cards.cta %></a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--4">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span"><%= content.cards.marketing.header %></span>
            </h4>
            <div class="card__details">
                <p><%= content.cards.marketing.text1 %></p>
                <p><%= content.cards.marketing.text2 %></p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo"><%= content.cards.preventivo %></p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button"><%= content.cards.cta %></a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--5">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1"><%= content.cards.webInformatica.header %></span>
            </h4>
            <div class="card__details">
                <p><%= content.cards.webInformatica.text1 %></p>
                <p><%= content.cards.webInformatica.text2 %></p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo"><%= content.cards.preventivo %></p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button"><%= content.cards.cta %></a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__side card__side--front">
            <div class="card__picture card__picture--6">
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span"><%= content.cards.tecnico.header %></span>
            </h4>
            <div class="card__details">
                <p><%= content.cards.tecnico.text1 %></p>
                <p><%= content.cards.tecnico.text2 %></p>
            </div>
        </div>
        <div class="card__side card__side--back">
            <div class="card__cta">
                <div class="card__preventivo-box">
                    <p class="card__chiedi-preventivo"><%= content.cards.preventivo %></p>
                </div>
                <a href="#popup" class="btn btn--white card__preventivo-box-button"><%= content.cards.cta %></a>
            </div>
        </div>
    </div>
</section>
<section id="testimonials">
    <div class="testimonials">
        <h2 class="testimonials__title mb-3"><%= content.testimonials.header %></h2>
        <p class="testimonials__text"><%= content.testimonials.text1 %></p>
        <p class="testimonials__text"><%= content.testimonials.text2 %></p>
        <div class="testimonials__carousel owl-carousel" data-loop="true">
            <div class="item">
                <img src="/assets/logos/bbc.png" alt=""
                    class="testimonials__carousel-logo testimonials__carousel-logo--bbc">
            </div>
            <div class="item">
                <img src="/assets/logos/cnn.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/coca-cola.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/forbes.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/mercedes.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/volkswagen.png" alt="" class="testimonials__carousel-logo">
            </div>
            <div class="item">
                <img src="/assets/logos/visa.png" alt="" class="testimonials__carousel-logo">
            </div>
        </div>
    </div>
</section>
<section id="cta">
    <div class="cta">

        <div class="cta__form">
            <h2 class="cta__header mb-3">
                <%= content.form.header[0] %> <br><%= content.form.header[1] %>
            </h2>
            <form action="#" class="form">
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="<%= content.form.name %>" id="name" required>
                    <label for="name" class="form__label"><%= content.form.name %></label>
                </div>

                <div class="form__group">
                    <input type="email" class="form__input" placeholder="<%= content.form.email %>" id="email" required>
                    <label for="email" class="form__label"><%= content.form.email %></label>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="<%= content.form.phone %>" id="telefono">
                    <label for="telefono" class="form__label"><%= content.form.phone %></label>
                </div>
                <div class="form__group">
                    <textarea type="email" class="form__input" id="richiesta"
                        placeholder="<%= content.form.richiesta.richiestaLabel %>" rows="6" required></textarea>
                    <label for="richiesta" class="form__label"><%= content.form.richiesta.richiestaTextarea %></label>
                </div>
                <div class="form__checkbox-group">
                    <input type="checkbox" class="form__checkbox-input" id="privacy" name="privacy_accepted">
                    <label for="privacy" class="form__checkbox-label">
                        <span class="form__checkbox-button"></span>
                        <%= content.form.privacyConsent %>
                    </label>
                </div>
                <div class="form__checkbox-group">
                    <input type="checkbox" class="form__checkbox-input" id="newsletter" name="newsletter_accepted">
                    <label for="newsletter" class="form__checkbox-label">
                        <span class="form__checkbox-button"></span>
                        <%= content.form.newsletterConsent %>
                    </label>
                </div>
                <div class="form__group">
                    <button class="btn btn--primary mt-1"><%= content.form.cta %></button>
                </div>
            </form>
        </div>
    </div>
</section>


<%- include("partials/footer"); -%>